<app-navbar [adminName]="adminName" [adminEmail]="adminEmail"> </app-navbar>
<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<html lang="en" dir="ltr">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css"
    />
  </head>
  <body>
    <!--Widget Start-->
    <div class="card-body color1">
      <div class="float-left">
        <h3>
          <span class="count">{{ messageCount }}</span>
        </h3>
        <p>Messages</p>
      </div>
      <div class="float-right">
        <i class="pe-7s-mail"></i>
      </div>
    </div>
    <!--Widget End-->
    <!--Widget Start-->
    <div class="card-body color2">
      <div class="float-left">
        <h3>
          <span class="count">{{ userCount }}</span>
        </h3>
        <p>Users</p>
      </div>
      <div class="float-right">
        <i class="pe-7s-users"></i>
      </div>
    </div>
    <!--Widget End-->
    <!--Widget Start-->
    <div class="card-body color3">
      <div class="float-left">
        <h3>
          <span class="count">10</span>
        </h3>
        <p>Posts</p>
      </div>
      <div class="float-right">
        <i class="pe-7s-browser"></i>
      </div>
    </div>
    <!--Widget End-->
  </body>
</html>
