<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="notification-area" *ngIf="errorMessage">
      <div class="notification error">
        {{ errorMessage }}
      </div>
    </div>
    <div class="box">
      <h1>Admin Login</h1>
      <input
        type="text"
        placeholder="Email"
        (input)="onEmailChange($event.target.value)"
        name="email"
      />
      <input
        type="password"
        placeholder="Password"
        (input)="onPasswordChange($event.target.value)"
        name="password"
      />
      <input type="submit" value="Login" (click)="loginAdministrator()" />
    </div>
  </body>
</html>
